:root {
    --sign-up-font: "Helvetica",
        "Arial",
        sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.logo-sidebar {
    position: relative;
    width: 650px;
}

.sidebar-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.logo-header {
    position: absolute;
    top: 25%;
    height: 15%;
    width: 100%;
    background-color: white;
    opacity: 75%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.logo-div{
    width: 20%;
    height: 100%;
    object-fit: contain;
}

.logo-img {
    padding-top: 10px;
    height: 100%;
    object-fit: fill;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Oswald';
    font-size: 40px;
}

.image-credit {
    width: 100%;
    position: absolute;
    bottom: 2%;
    text-align: center;
}

.image-credit > p > a {
    text-decoration: underline;
    color: black;
}

.content {
    background-color: #f8fafa;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-header {
    flex: 1;
    position: relative;
}

.content-header > .text {
    position: absolute;
    bottom: 20%;
    margin-left: 20px;
}

.content-header > .text > p,
.account-form>h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--sign-up-font);
}

.account-form {
    flex: 0.75;
    padding-left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}

.label-input {
    display: flex;
    flex-direction: column;
}

label {
    font-family: var(--sign-up-font);
    font-weight: lighter;
    font-size: 20px;
}

input {
    width: 200px;
    border-radius: 3px;
    padding: 7px;
    font-size: 16px;
    font-family: var(--sign-up-font);
    border: 1px solid #D6D9DC;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 10px 1px lightgray;
}

input:invalid {
    border-color: red;
}

.content-footer {
    flex: 1;
    padding-left: 20px;
    position: relative;
}

.button-text {
    position: absolute;
    top: 10%;
}

.button-text > button {
    font-size: 20px;
    font-weight: bold;;
    padding: 10px 30px;
    color: white;
    background-color: #5db7ab;
    border: none;
    border-radius: 3px;;
    font-family: var(--sign-up-font);
}

.button-text>button:hover {
    background-color: #6fdecf;
}

.button-text>button:active {
    background-color: #408077;
}

.button-text > p {
    font-family: var(--sign-up-font);
}

